@charset 'utf-8';

@import 'my-foundation';

.top-bar-title {
  span { margin-right: 1.5rem }
  a img {
    padding: 0 0.75rem;
    height: 2rem;
  }
}

footer.callout {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
}


blockquote {
  text-align: right;
  margin-left: 2em;
  padding-left: 1em;
}

h5 { text-align: center; }

.hide { display: none; }

@keyframes stretch { 100% { width: 100% } }

.full {
  animation-name: stretch;
  animation-duration: 0.667s;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

.full .hidden { display: block !important; }

.column.medium-4[data-toggler=".hide"] {
  .hidden { display: none; }

  a { display: block; }

  a:focus {
    // -moz-box-shadow: 0 0 3rem gold;
    // -webkit-box-shadow: 0 0 3rem gold;
    box-shadow: 0 0 4rem gold;
  }
}

.close-button {
  display: block;
}

img.logo {
  height: 13rem;
  float: right;
  margin: 0 0 2rem 1rem;
  background: $light-gray;
}
